[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
sphinx-rtd-theme = "*"
requests-mock = "*"
pytest = "*"
docutils = "*"
m2r = "*"
Sphinx = "*"
alpha_vantage = "*"
pygtail = "*"

[requires]
python_version = "3"

[scripts]
test = "pytest"
docs = "sphinx-build -b html doc doc/_build/html"

