-i https://pypi.org/simple
alabaster
alpha-vantage
attrs
babel
certifi
chardet
docutils
idna
imagesize
importlib-metadata
jinja2
m2r
markupsafe
mistune
more-itertools
packaging
pluggy
py
pygments
pygtail
pyparsing
pytest
pytz
requests-mock
requests
six
snowballstemmer
sphinx-rtd-theme
sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
urllib3
wcwidth
zipp
